<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE policyconfig PUBLIC '-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN' 'http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd'>
<policyconfig>
  <vendor>nm-applet</vendor>
  <vendor_url>http://www.gnome.org/</vendor_url>
  <action id="org.gnome.nm-applet.managenotifications">
    <description>Manage notifications</description>
    <description xml:lang="ru">Управлять управлениями</description>
    <message>Privileges are required to control notifications</message>
    <message xml:lang="ru">Привилегии, необходимые для управления уведомлениями</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
      <allow_any>yes</allow_any>
    </defaults>
  </action>
</policyconfig>