#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs

# Relative base directory for configuration
CONFDIR := etc/xdg/nm-applet

%:
	dh $@ --without=autoreconf --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- \
		--libexecdir=/usr/lib/NetworkManager \
		-Dappindicator=ayatana \
		-Dwwan=true \
		-Dselinux=true \
		-Dteam=true

override_dh_install:
	mkdir -p debian/network-manager-gnome/$(CONFDIR)
	cp debian/filter.conf debian/network-manager-gnome/$(CONFDIR)